[Unit]
Description=Collect YouTube AutoEncoder telemetry (%i)

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
AccuracySec=30s
RandomizedDelaySec=30s
Persistent=false
Unit=youtube-autoencoder-telemetry@%i.service

[Install]
WantedBy=timers.target
